html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
  margin: 0;
}

/* The Modal (background) */
.modal {
  position: absolute;
  display: flex;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.modal.fade {
  visibility: hidden;
}

.modal.show {
  visibility: visible;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(177, 255, 115, 0.86);
  margin: auto;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
  padding: 20px;
}

.modal-md {
  width: 50%;
}

.modal-lg {
  width: 70%;
}

.modal-xl {
  width: 80%;
}

.input-label {
  display: inline-block;
  margin-bottom: .5rem;
}

.input-control {
  border-radius: 5px;
  width: 100%;
  padding: .375rem .75rem;
  margin-bottom: 10px;
  border: 1px solid;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.input-control:focus {
  outline: none;
  border-color: #c7ff61;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.justify-beetwen {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-normal {
  justify-content: normal;
}

.grid-cols {
  position: relative;
  margin: 1rem 0rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-6 {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-10 {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.col-1 {
  grid-column: span 1 / span 1;
}

.col-2 {
  grid-column: span 2 / span 2;
}

.col-3 {
  grid-column: span 3 / span 3;
}

.col-4 {
  grid-column: span 4 / span 4;
}

.col-5 {
  grid-column: span 5 / span 5;
}

.col-6 {
  grid-column: span 6 / span 6;
}

.col-7 {
  grid-column: span 7 / span 7;
}

.col-8 {
  grid-column: span 8 / span 8;
}

.col-9 {
  grid-column: span 9 / span 9;
}

.col-10 {
  grid-column: span 10 / span 10;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

.gap-6 {
  gap: 6rem;
}

.gap-7 {
  gap: 7rem;
}

input {
  width: 100%;
}

.btn {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  padding: 10px;
  font-size: 1rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

.btn-primary {
  background-color: #c7ff61;
}

.btn-secondary {
  background-color: #c7c7c7;
}

.btn-warning {
  background-color: #ffed2b;
}

.btn-danger {
  background-color: #ff3c1f;
  color: white;
}

.btn-indigo {
  background-color: #8d61ff;
  color: white;
}

.btn-info {
  background-color: #4acaf1;
  color: white;
}

.btn-md {
  font-size: 1.125rem;
}

.btn-lg {
  font-size: 1.25rem;
}

.btn-xl {
  font-size: 1.5rem;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.header li  {
  padding: .5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.header li:hover  {
  background-color: rgba(0, 0, 0, 0.1);
}
.header {
  padding-inline-start: 0 !important;
}

.text-center {
  text-align: center;
}

/* Main */
main {
  display: flex;
  position: relative;
  height: 100%;
}

.container {
  height: 100%;
  position: relative;
}

footer {
  background-color: #1a202c;
  color: #cbd5e0;
  padding: 20px 0;
}

.h-100 {
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 200px;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

/* Content */
.content {
  flex: 1;
  padding: 10px;
}

.overflow {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.bg-primary {
  background-color: #c7ff61 !important;
}

.bg-secondary {
  background-color: #c7c7c7 !important;
}

.bg-warning {
  background-color: #ffed2b !important;
}

.bg-danger {
  background-color: #ff3c1f !important;
}

.bg-indigo {
  background-color: #8d61ff !important;
  color: white;
}

.bg-info {
  background-color: #4acaf1 !important;
  color: white;
}

.profile {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  height: 50px;
  width: 50px;
}

.profile-bar {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
}

.border {
  border: solid 0.5px #b2b2b2;
}

.badge {
  background-color: #6cff4d;
  font-size: 12px;
  color: black;
  border-radius: 5px;
  padding: 3px 8px;
}

.card {
  background-color: white;
  border-radius: 10px;
}

.card-header {
  display: flex;
  width: 100%;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.card-body {
  padding: 10px;
}

.card-footer {
  display: flex;
  width: 100%;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* Example CSS (if not using Tailwind) */
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
}

thead th {
  text-align: left;
  padding: 8px 16px;
  font-weight: bold;
  color: #333;
  background-color: #f0f0f0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

tbody tr {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

tbody td {
  padding: 8px 16px;
  color: #333;
}

tbody td.text-right {
  text-align: right;
}